## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_count[app_count<5].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification = classification_types[classification_types>1]
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

#  YOUR CODE GOES HERE
classification_cutoff = 1200
classifications_to_replace = []
for classification, count in classification_types.iteritems():
    if count < classification_cutoff :
        classifications_to_replace.append(classification)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop(['IS_SUCCESSFUL'], axis = 1)
y = application_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 336

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 463
Trainable params: 463
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [22]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 1ms/step - loss: 0.6323 - accuracy: 0.6620 - val_loss: 0.5804 - val_accuracy: 0.7134
Epoch 2/100
684/684 [==============================] - 1s 825us/step - loss: 0.5726 - accuracy: 0.7173 - val_loss: 0.5557 - val_accuracy: 0.7318
Epoch 3/100
684/684 [==============================] - 1s 853us/step - loss: 0.5606 - accuracy: 0.7248 - val_loss: 0.5505 - val_accuracy: 0.7357
Epoch 4/100
684/684 [==============================] - 1s 824us/step - loss: 0.5571 - accuracy: 0.7259 - val_loss: 0.5507 - val_accuracy: 0.7357
Epoch 5/100
684/684 [==============================] - 1s 885us/step - loss: 0.5551 - accuracy: 0.7270 - val_loss: 0.5524 - val_accuracy: 0.7326
Epoch 6/100
684/684 [==============================] - 1s 846us/step - loss: 0.5542 - accuracy: 0.7269 - val_loss: 0.5525 - val_accuracy: 0.7328
Epoch 7/100
684/684 [==============================] - 1s 878us/step - loss: 0.5533 - accuracy: 0.7274 - val_loss: 0.5493 - val_accuracy: 0.7372
Epoch 8/100
684/684 [==============================] - 1s 855us/step - loss: 0.5523 - accuracy: 0.7298 - val_loss: 0.5494 - val_accuracy: 0.7352
Epoch 9/100
684/684 [==============================] - 1s 821us/step - loss: 0.5521 - accuracy: 0.7279 - val_loss: 0.5475 - val_accuracy: 0.7380
Epoch 10/100
684/684 [==============================] - 1s 854us/step - loss: 0.5514 - accuracy: 0.7279 - val_loss: 0.5481 - val_accuracy: 0.7385
Epoch 11/100
684/684 [==============================] - 1s 883us/step - loss: 0.5512 - accuracy: 0.7287 - val_loss: 0.5457 - val_accuracy: 0.7398
Epoch 12/100
684/684 [==============================] - 1s 854us/step - loss: 0.5510 - accuracy: 0.7294 - val_loss: 0.5484 - val_accuracy: 0.7398
Epoch 13/100
684/684 [==============================] - 1s 847us/step - loss: 0.5508 - accuracy: 0.7297 - val_loss: 0.5475 - val_accuracy: 0.7401
Epoch 14/100
684/684 [==============================] - 1s 834us/step - loss: 0.5506 - accuracy: 0.7290 - val_loss: 0.5448 - val_accuracy: 0.7398
Epoch 15/100
684/684 [==============================] - 1s 882us/step - loss: 0.5506 - accuracy: 0.7303 - val_loss: 0.5455 - val_accuracy: 0.7419
Epoch 16/100
684/684 [==============================] - 1s 864us/step - loss: 0.5502 - accuracy: 0.7309 - val_loss: 0.5481 - val_accuracy: 0.7391
Epoch 17/100
684/684 [==============================] - 1s 857us/step - loss: 0.5500 - accuracy: 0.7304 - val_loss: 0.5461 - val_accuracy: 0.7416
Epoch 18/100
684/684 [==============================] - 1s 849us/step - loss: 0.5496 - accuracy: 0.7300 - val_loss: 0.5454 - val_accuracy: 0.7365
Epoch 19/100
684/684 [==============================] - 1s 810us/step - loss: 0.5499 - accuracy: 0.7304 - val_loss: 0.5480 - val_accuracy: 0.7422
Epoch 20/100
684/684 [==============================] - 1s 846us/step - loss: 0.5493 - accuracy: 0.7301 - val_loss: 0.5484 - val_accuracy: 0.7416
Epoch 21/100
684/684 [==============================] - 1s 796us/step - loss: 0.5493 - accuracy: 0.7302 - val_loss: 0.5477 - val_accuracy: 0.7422
Epoch 22/100
684/684 [==============================] - 1s 832us/step - loss: 0.5495 - accuracy: 0.7308 - val_loss: 0.5455 - val_accuracy: 0.7409
Epoch 23/100
684/684 [==============================] - 1s 805us/step - loss: 0.5491 - accuracy: 0.7311 - val_loss: 0.5460 - val_accuracy: 0.7409
Epoch 24/100
684/684 [==============================] - 1s 829us/step - loss: 0.5490 - accuracy: 0.7295 - val_loss: 0.5478 - val_accuracy: 0.7406
Epoch 25/100
684/684 [==============================] - 1s 833us/step - loss: 0.5490 - accuracy: 0.7308 - val_loss: 0.5455 - val_accuracy: 0.7416
Epoch 26/100
684/684 [==============================] - 1s 830us/step - loss: 0.5485 - accuracy: 0.7308 - val_loss: 0.5455 - val_accuracy: 0.7378
Epoch 27/100
684/684 [==============================] - 1s 849us/step - loss: 0.5487 - accuracy: 0.7322 - val_loss: 0.5464 - val_accuracy: 0.7411
Epoch 28/100
684/684 [==============================] - 1s 846us/step - loss: 0.5485 - accuracy: 0.7317 - val_loss: 0.5478 - val_accuracy: 0.7401
Epoch 29/100
684/684 [==============================] - 1s 844us/step - loss: 0.5481 - accuracy: 0.7308 - val_loss: 0.5443 - val_accuracy: 0.7429
Epoch 30/100
684/684 [==============================] - 1s 878us/step - loss: 0.5483 - accuracy: 0.7324 - val_loss: 0.5453 - val_accuracy: 0.7414
Epoch 31/100
684/684 [==============================] - 1s 878us/step - loss: 0.5483 - accuracy: 0.7321 - val_loss: 0.5449 - val_accuracy: 0.7427
Epoch 32/100
684/684 [==============================] - 1s 854us/step - loss: 0.5483 - accuracy: 0.7320 - val_loss: 0.5447 - val_accuracy: 0.7432
Epoch 33/100
684/684 [==============================] - 1s 818us/step - loss: 0.5477 - accuracy: 0.7325 - val_loss: 0.5499 - val_accuracy: 0.7370
Epoch 34/100
684/684 [==============================] - 1s 870us/step - loss: 0.5481 - accuracy: 0.7321 - val_loss: 0.5461 - val_accuracy: 0.7416
Epoch 35/100
684/684 [==============================] - 1s 851us/step - loss: 0.5478 - accuracy: 0.7310 - val_loss: 0.5452 - val_accuracy: 0.7422
Epoch 36/100
684/684 [==============================] - 1s 848us/step - loss: 0.5474 - accuracy: 0.7324 - val_loss: 0.5489 - val_accuracy: 0.7411
Epoch 37/100
684/684 [==============================] - 1s 831us/step - loss: 0.5477 - accuracy: 0.7306 - val_loss: 0.5458 - val_accuracy: 0.7380
Epoch 38/100
684/684 [==============================] - 1s 852us/step - loss: 0.5479 - accuracy: 0.7308 - val_loss: 0.5436 - val_accuracy: 0.7424
Epoch 39/100
684/684 [==============================] - 1s 854us/step - loss: 0.5474 - accuracy: 0.7319 - val_loss: 0.5448 - val_accuracy: 0.7424
Epoch 40/100
684/684 [==============================] - 1s 832us/step - loss: 0.5475 - accuracy: 0.7313 - val_loss: 0.5457 - val_accuracy: 0.7427
Epoch 41/100
684/684 [==============================] - 1s 862us/step - loss: 0.5473 - accuracy: 0.7311 - val_loss: 0.5460 - val_accuracy: 0.7427
Epoch 42/100
684/684 [==============================] - 1s 831us/step - loss: 0.5477 - accuracy: 0.7321 - val_loss: 0.5436 - val_accuracy: 0.7422
Epoch 43/100
684/684 [==============================] - 1s 852us/step - loss: 0.5472 - accuracy: 0.7311 - val_loss: 0.5435 - val_accuracy: 0.7422
Epoch 44/100
684/684 [==============================] - 1s 810us/step - loss: 0.5473 - accuracy: 0.7313 - val_loss: 0.5462 - val_accuracy: 0.7435
Epoch 45/100
684/684 [==============================] - 1s 851us/step - loss: 0.5471 - accuracy: 0.7318 - val_loss: 0.5471 - val_accuracy: 0.7429
Epoch 46/100
684/684 [==============================] - 1s 857us/step - loss: 0.5469 - accuracy: 0.7311 - val_loss: 0.5483 - val_accuracy: 0.7391
Epoch 47/100
684/684 [==============================] - 1s 804us/step - loss: 0.5473 - accuracy: 0.7311 - val_loss: 0.5442 - val_accuracy: 0.7416
Epoch 48/100
684/684 [==============================] - 1s 855us/step - loss: 0.5468 - accuracy: 0.7320 - val_loss: 0.5443 - val_accuracy: 0.7424
Epoch 49/100
684/684 [==============================] - 1s 854us/step - loss: 0.5465 - accuracy: 0.7312 - val_loss: 0.5456 - val_accuracy: 0.7424
Epoch 50/100
684/684 [==============================] - 1s 831us/step - loss: 0.5472 - accuracy: 0.7317 - val_loss: 0.5463 - val_accuracy: 0.7409
Epoch 51/100
684/684 [==============================] - 1s 853us/step - loss: 0.5470 - accuracy: 0.7317 - val_loss: 0.5444 - val_accuracy: 0.7385
Epoch 52/100
684/684 [==============================] - 1s 877us/step - loss: 0.5471 - accuracy: 0.7310 - val_loss: 0.5431 - val_accuracy: 0.7432
Epoch 53/100
684/684 [==============================] - 1s 833us/step - loss: 0.5467 - accuracy: 0.7327 - val_loss: 0.5468 - val_accuracy: 0.7427
Epoch 54/100
684/684 [==============================] - 1s 853us/step - loss: 0.5465 - accuracy: 0.7313 - val_loss: 0.5473 - val_accuracy: 0.7429
Epoch 55/100
684/684 [==============================] - 1s 854us/step - loss: 0.5463 - accuracy: 0.7311 - val_loss: 0.5437 - val_accuracy: 0.7435
Epoch 56/100
684/684 [==============================] - 1s 875us/step - loss: 0.5464 - accuracy: 0.7312 - val_loss: 0.5432 - val_accuracy: 0.7416
Epoch 57/100
684/684 [==============================] - 1s 857us/step - loss: 0.5462 - accuracy: 0.7329 - val_loss: 0.5431 - val_accuracy: 0.7424
Epoch 58/100
684/684 [==============================] - 1s 832us/step - loss: 0.5458 - accuracy: 0.7321 - val_loss: 0.5481 - val_accuracy: 0.7416
Epoch 59/100
684/684 [==============================] - 1s 836us/step - loss: 0.5464 - accuracy: 0.7316 - val_loss: 0.5445 - val_accuracy: 0.7419
Epoch 60/100
684/684 [==============================] - 1s 853us/step - loss: 0.5462 - accuracy: 0.7320 - val_loss: 0.5467 - val_accuracy: 0.7432
Epoch 61/100
684/684 [==============================] - 1s 877us/step - loss: 0.5459 - accuracy: 0.7306 - val_loss: 0.5476 - val_accuracy: 0.7429
Epoch 62/100
684/684 [==============================] - 1s 855us/step - loss: 0.5460 - accuracy: 0.7323 - val_loss: 0.5424 - val_accuracy: 0.7424
Epoch 63/100
684/684 [==============================] - 1s 877us/step - loss: 0.5462 - accuracy: 0.7323 - val_loss: 0.5441 - val_accuracy: 0.7427
Epoch 64/100
684/684 [==============================] - 1s 855us/step - loss: 0.5459 - accuracy: 0.7325 - val_loss: 0.5449 - val_accuracy: 0.7427
Epoch 65/100
684/684 [==============================] - 1s 877us/step - loss: 0.5459 - accuracy: 0.7313 - val_loss: 0.5461 - val_accuracy: 0.7427
Epoch 66/100
684/684 [==============================] - 1s 856us/step - loss: 0.5462 - accuracy: 0.7318 - val_loss: 0.5456 - val_accuracy: 0.7414
Epoch 67/100
684/684 [==============================] - 1s 815us/step - loss: 0.5458 - accuracy: 0.7310 - val_loss: 0.5477 - val_accuracy: 0.7427
Epoch 68/100
684/684 [==============================] - 1s 857us/step - loss: 0.5456 - accuracy: 0.7312 - val_loss: 0.5455 - val_accuracy: 0.7416
Epoch 69/100
684/684 [==============================] - 1s 848us/step - loss: 0.5460 - accuracy: 0.7318 - val_loss: 0.5436 - val_accuracy: 0.7416
Epoch 70/100
684/684 [==============================] - 1s 847us/step - loss: 0.5459 - accuracy: 0.7329 - val_loss: 0.5477 - val_accuracy: 0.7419
Epoch 71/100
684/684 [==============================] - 1s 827us/step - loss: 0.5458 - accuracy: 0.7314 - val_loss: 0.5457 - val_accuracy: 0.7391
Epoch 72/100
684/684 [==============================] - 1s 858us/step - loss: 0.5457 - accuracy: 0.7329 - val_loss: 0.5452 - val_accuracy: 0.7422
Epoch 73/100
684/684 [==============================] - 1s 853us/step - loss: 0.5457 - accuracy: 0.7324 - val_loss: 0.5465 - val_accuracy: 0.7393
Epoch 74/100
684/684 [==============================] - 1s 834us/step - loss: 0.5458 - accuracy: 0.7311 - val_loss: 0.5437 - val_accuracy: 0.7422
Epoch 75/100
684/684 [==============================] - 1s 852us/step - loss: 0.5459 - accuracy: 0.7318 - val_loss: 0.5441 - val_accuracy: 0.7422
Epoch 76/100
684/684 [==============================] - 1s 853us/step - loss: 0.5456 - accuracy: 0.7309 - val_loss: 0.5441 - val_accuracy: 0.7401
Epoch 77/100
684/684 [==============================] - 1s 880us/step - loss: 0.5459 - accuracy: 0.7324 - val_loss: 0.5438 - val_accuracy: 0.7424
Epoch 78/100
684/684 [==============================] - 1s 855us/step - loss: 0.5455 - accuracy: 0.7325 - val_loss: 0.5454 - val_accuracy: 0.7414
Epoch 79/100
684/684 [==============================] - 1s 862us/step - loss: 0.5457 - accuracy: 0.7314 - val_loss: 0.5441 - val_accuracy: 0.7378
Epoch 80/100
684/684 [==============================] - 1s 885us/step - loss: 0.5454 - accuracy: 0.7311 - val_loss: 0.5451 - val_accuracy: 0.7385
Epoch 81/100
684/684 [==============================] - 1s 878us/step - loss: 0.5452 - accuracy: 0.7319 - val_loss: 0.5429 - val_accuracy: 0.7411
Epoch 82/100
684/684 [==============================] - 1s 878us/step - loss: 0.5454 - accuracy: 0.7330 - val_loss: 0.5435 - val_accuracy: 0.7422
Epoch 83/100
684/684 [==============================] - 1s 887us/step - loss: 0.5454 - accuracy: 0.7327 - val_loss: 0.5461 - val_accuracy: 0.7406
Epoch 84/100
684/684 [==============================] - 1s 881us/step - loss: 0.5455 - accuracy: 0.7322 - val_loss: 0.5435 - val_accuracy: 0.7432
Epoch 85/100
684/684 [==============================] - 1s 839us/step - loss: 0.5451 - accuracy: 0.7328 - val_loss: 0.5470 - val_accuracy: 0.7396
Epoch 86/100
684/684 [==============================] - 1s 879us/step - loss: 0.5453 - accuracy: 0.7315 - val_loss: 0.5430 - val_accuracy: 0.7424
Epoch 87/100
684/684 [==============================] - 1s 879us/step - loss: 0.5455 - accuracy: 0.7318 - val_loss: 0.5449 - val_accuracy: 0.7432
Epoch 88/100
684/684 [==============================] - 1s 891us/step - loss: 0.5451 - accuracy: 0.7326 - val_loss: 0.5457 - val_accuracy: 0.7409
Epoch 89/100
684/684 [==============================] - 1s 863us/step - loss: 0.5454 - accuracy: 0.7327 - val_loss: 0.5430 - val_accuracy: 0.7419
Epoch 90/100
684/684 [==============================] - 1s 853us/step - loss: 0.5453 - accuracy: 0.7335 - val_loss: 0.5430 - val_accuracy: 0.7375
Epoch 91/100
684/684 [==============================] - 1s 826us/step - loss: 0.5453 - accuracy: 0.7330 - val_loss: 0.5455 - val_accuracy: 0.7359
Epoch 92/100
684/684 [==============================] - 1s 835us/step - loss: 0.5451 - accuracy: 0.7328 - val_loss: 0.5445 - val_accuracy: 0.7411
Epoch 93/100
684/684 [==============================] - 1s 876us/step - loss: 0.5447 - accuracy: 0.7325 - val_loss: 0.5437 - val_accuracy: 0.7398
Epoch 94/100
684/684 [==============================] - 1s 832us/step - loss: 0.5454 - accuracy: 0.7325 - val_loss: 0.5448 - val_accuracy: 0.7403
Epoch 95/100
684/684 [==============================] - 1s 854us/step - loss: 0.5452 - accuracy: 0.7315 - val_loss: 0.5465 - val_accuracy: 0.7393
Epoch 96/100
684/684 [==============================] - 1s 855us/step - loss: 0.5451 - accuracy: 0.7317 - val_loss: 0.5440 - val_accuracy: 0.7422
Epoch 97/100
684/684 [==============================] - 1s 900us/step - loss: 0.5451 - accuracy: 0.7330 - val_loss: 0.5459 - val_accuracy: 0.7403
Epoch 98/100
684/684 [==============================] - 1s 852us/step - loss: 0.5453 - accuracy: 0.7326 - val_loss: 0.5439 - val_accuracy: 0.7380
Epoch 99/100
684/684 [==============================] - 1s 855us/step - loss: 0.5451 - accuracy: 0.7324 - val_loss: 0.5458 - val_accuracy: 0.7419
Epoch 100/100
684/684 [==============================] - 1s 878us/step - loss: 0.5450 - accuracy: 0.7320 - val_loss: 0.5468 - val_accuracy: 0.7383

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5547 - accuracy: 0.7261 - 129ms/epoch - 482us/step
Loss: 0.5546814203262329, Accuracy: 0.726064145565033

In [26]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimization.h5")